<table border="1px solid black">
    <tr>
        <th>Title</th>
        <th>Due Date</th>
        <th>Status</th>
    </tr>
    <% for(var i=0;i<allTodos.length;i++){ %>
        <tr>
            <td>
                <%= allTodos[i].title%>
            </td>
            <td>
                <%= allTodos[i].dueDate%>
            </td>
            <td>
                <%= allTodos[i].completed%>
            </td>
        </tr>
    <% } %>
</table>